{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Add VDU Assessment</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_check') }}">
        <!-- manager dropdown -->
			<div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
					<select id="manager_name" name="manager_name" class="validate" required>
                        <option value="" disabled selected>Select your Manager</option>
                        {% for manager in managers %}
                            <option value="{{ manager.manager_name }}">{{ manager.manager_name }}</option>
                        {% endfor %}
                    </select>
					<label for="manager_name">Manager</label>
				</div>
			</div>
            <!-- department dropdown -->
            <div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
					<select id="dept_name" name="dept_name" class="validate" required>
                        <option value="" disabled selected>Select your Department</option>
                        {% for dept in departments %}
                            <option value="{{ dept.dept_name }}">{{ dept.dept_name }}</option>
                        {% endfor %}
                    </select>
					<label for="manager_name">Department</label>
				</div>
			</div>
            <!-- Max Total Time -->
            <div class="row">
                <p class="range-field">
                    <label for="max_total_time">Your maximum total hours spent on computer per working day:</label>
                    <input type="range" id="max_total_time" name="max_total_time" min="1" max="24" />
                </p>
            </div>
            <!-- Max Continuous Time -->
            <div class="row">
                <p class="range-field">
                    <label for="max_continuous_time">Your maximum continuous hours spent on computer before you change activity:</label>
                    <input type="range" id="max_continuous_time" name="max_continuous_time" min="1" max="24" />
                </p>
            </div>
           <div class="card-panel blue lighten-4"><i class="fas fa-desktop"></i>  Your Screen</div>
            <!-- screen image stability -->
            <div class="row">
				<div class="input-field col s12">
					<div class="switch">
						<label for="screen_q1">
                            <input type="checkbox" id="screen_q1" name="screen_q1">
                            <span class="checkbox">Is the screen image stable and flicker free?</span>
                        </label>
					</div>
				</div>
			</div>
             <!-- screen glare or reflections  -->
            <div class="row">
				<div class="input-field col s12">
					<div class="switch">
						<label for="screen_q2">
                            <input type="checkbox" id="screen_q2" name="screen_q2">
                            <span class="checkbox">Do you have any problems with glare or reflections on your screen which you are unable to resolve?</span>
                        </label>
					</div>
				</div>
			</div>
            <div class="card-panel blue lighten-4"><i class="fas fa-chair"></i>  Your Chair</div>
            <!-- height of your seat  -->
            <div class="row">
				<div class="input-field col s12">
					<div class="switch">
						<label for="chair_q1">
                            <input type="checkbox" id="chair_q1" name="chair_q1">
                            <span class="checkbox">Can you adjust the height of your seat to a comfortable position?</span>
                        </label>
					</div>
				</div>
			</div>
             <!-- backrest of your chair  -->
            <div class="row">
				<div class="input-field col s12">
					<div class="switch">
						<label for="chair_q2">
                            <input type="checkbox" id="chair_q2" name="chair_q2">
                            <span class="checkbox">Is the backrest of your chair adjustable to support your back correctly and comfortably?</span>
                        </label>
					</div>
				</div>
			</div>
            <div class="card-panel blue lighten-4"><i class="fas fa-keyboard"></i>  Your Keyboard</div>
            <!-- comfortable keying position -->
            <div class="row">
				<div class="input-field col s12">
					<div class="switch">
						<label for="keyboard_q1">
                            <input type="checkbox" id="keyboard_q1" name="keyboard_q1">
                            <span class="checkbox">Can you find a comfortable keying position?</span>
                        </label>
					</div>
				</div>
			</div>
             <!--  enough space to rest your hands -->
            <div class="row">
				<div class="input-field col s12">
					<div class="switch">
						<label for="keyboard_q2">
                            <input type="checkbox" id="keyboard_q2" name="keyboard_q2">
                            <span class="checkbox">Is there enough space to rest your hands in front of the keyboard?</span>
                        </label>
					</div>
				</div>
			</div>
            <div class="card-panel blue lighten-4"><i class="fas fa-mouse"></i>  Your Mouse</div>
            <!--  mouse seperate from keyboard  -->
            <div class="row">
				<div class="input-field col s12">
					<div class="switch">
						<label for="mouse_q1">
                            <input type="checkbox" id="mouse_q1" name="mouse_q1">
                            <span class="checkbox">Is the device (mouse or trackball etc.) you use separate from the keyboard and easy to use?</span>
                        </label>
					</div>
				</div>
			</div>
            <!--  mouse  work smoothly  -->
            <div class="row">
				<div class="input-field col s12">
					<div class="switch">
						<label for="mouse_q2">
                            <input type="checkbox" id="mouse_q2" name="mouse_q2">
                            <span class="checkbox">Does your device work smoothly and at a speed that is suitable to you?</span>
                        </label>
					</div>
				</div>
			</div>
            <div class="card-panel blue lighten-4"><i class="far fa-building"></i>  Your Environment</div>
            <!--  room at your workstation  -->
            <div class="row">
				<div class="input-field col s12">
					<div class="switch">
						<label for="environment_q1">
                            <input type="checkbox" id="environment_q1" name="environment_q1">
                            <span class="checkbox">Is there enough room at your workstation for you to change position and vary movement?</span>
                        </label>
					</div>
				</div>
			</div>
            <!--  lighting level at workstation  -->
            <div class="row">
				<div class="input-field col s12">
					<div class="switch">
						<label for="environment_q2">
                            <input type="checkbox" id="environment_q2" name="environment_q2">
                            <span class="checkbox">Is the lighting level around your workstation comfortable to work in?</span>
                        </label>
					</div>
				</div>
			</div>
            <!-- Worstation Image--> 
            <div class="input-field col s12"> 
                <i class="far fa-images prefix"></i>
                    {{ form.image(id="workstation_image", placeholder="Provide URL for your workstation image", class="validate") }} 
                <label for="workstation_image">Workstation Image URL (optional)  
                <i class="fas fa-question-circle tooltipped" data-position="top" data-tooltip="You can upload your image to a free image hosting website (e.g. Flickr) and paste direct link here"></i> 
                </label> 
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                        Add Assessment <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}