{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Change Password</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="">
                {{ form.hidden_tag() }}
                <!-- Password -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-user-lock prefix light-blue-text text-darken-4"></i>
                        {{ form.password (placeholder="Enter new password", id="password") }} 
                        <label for="password">Password <i class="fas fa-question-circle tooltipped" data-position="top" 
                             data-tooltip="6-15 characters, case sensitive"></i></label> 
                        {% for error in form.password.errors %} 
                        <span class="text-red">{{ error }}</span> 
                        {% endfor %} 
                    </div>
                </div>
                <!--Confirm Password--> 
                <div class="row"> 
                    <div class="input-field col s12"> 
                        <i class="fas fa-user-lock prefix light-blue-text text-darken-4"></i> 
                        {{ form.confirm.label }} 
                        {{ form.confirm(placeholder="Confirm new password") }} 
                        {% for error in form.confirm.errors %} 
                        <span class="text-red">{{ error }}</span> 
                        {% endfor %} 
                    </div> 
                </div> 
                  <!--Error messages--> 
                <div class="row center-align"> 
                    {% with messages = get_flashed_messages() %} 
                    {% if messages %}
                    {% for message in messages %} 
                    <p class="text-red"> 
                    {{ message }} 
                    </p> 
                    {% endfor %} {% endif %} {% endwith %} 
                </div>
                <!-- username hidden -->
                <input id="username" name="username" minlength="3" maxlength="50"
                            hidden value="{{ user.username }}" type="text" class="validate" required>
                <!-- firstname hidden -->
                <input id="fname" name="fname" minlength="3" maxlength="50"
                            hidden value="{{ user.fname }}" type="text" class="validate" required>
                <!-- is_admin hidden -->
                <div class="input-field col s12">
                        <div class="switch">
                                {% if user.is_admin%}
                                    <input type="checkbox" id="is_admin" name="is_admin" checked>
                                {% else %}
                                    <input type="checkbox" id="is_admin" name="is_admin"> 
                                {% endif %}
                        </div>
                <!-- buttons -->
                <div class="row"> 
                    <div class="col s12 center-align"> 
                        <!-- cancel button -->
                        <a href="{{ url_for("profile", username=session["user"]) }}" class="btn-small red text-shadow">
                            Cancel <i class="fas fa-times-circle right"></i>
                        </a>
                        <!-- submit button -->
                        {{ form.submit(class="btn-small light-blue darken-4 text-shadow") }}
                        <i class="fas fa-sign-in-alt"></i> 
                    </div> 
                </div> 
        </form>  
    </div>
{% endblock %}