{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">change</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="">
            {{ form.hidden_tag() }}
            <!-- Password -->
           <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-user-lock prefix light-blue-text text-darken-4"></i>
                        {{ form.password (placeholder="Enter password", id="password") }} 
                        <label for="password">Password <i class="fas fa-question-circle tooltipped" data-position="top" 
                             data-tooltip="3-15 characters, case sensitive"></i></label> 
                        {% for error in form.password.errors %} 
                        <span class="text-red">{{ error }}</span> 
                        {% endfor %} 
                    </div>
                </div>
           <!-- username hidden -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" name="username" minlength="3" maxlength="50"
                         hidden value="{{ user.username }}" type="text" class="validate" required>
                </div>
            </div>
            <!-- first name hidden -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="fname" name="fname" minlength="3" maxlength="50"
                         hidden value="{{ user.fname }}" type="text" class="validate" required>
                </div>
            </div>
            <!-- is admin toggle hidden -->
			<div class="row">
				<div class="input-field col s12">
					<div class="switch">
                            {% if user.is_admin%}
                                <input type="checkbox" id="is_admin" name="is_admin" checked hidden>
                            {% else %}
                                <input type="checkbox" id="is_admin" name="is_admin"> 
                            {% endif %}
					</div>
				</div>
			</div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- cancel button -->
                    <a href="{{ url_for("profile", username=session["user"]) }}" class="btn-large red text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                        Edit User <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
        
    </div>

{% endblock %}