{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Edit Assessment</h3>

    <div class="row card-panel grey lighten-5">
    
        <form class="col s12" method="POST" action="{{ url_for('edit_check', check_id=check._id) }}">
        <!-- manager dropdown -->
			<div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
					<select id="manager_name" name="manager_name" class="validate" required>
                        <option value="" disabled selected>Select your Manager</option>
                        {% for manager in managers %}
                            <option value="{{ manager.manager_name }}">{{ manager.manager_name }}</option>
                        {% endfor %}
                    </select>
					<label for="manager_name">Manager</label>
				</div>
			</div>
            <!-- department dropdown -->
            <div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
					<select id="dept_name" name="dept_name" class="validate" required>
                        <option value="" disabled selected>Select your Department</option>
                        {% for dept in departments %}
                            <option value="{{ dept.dept_name }}">{{ dept.dept_name }}</option>
                        {% endfor %}
                    </select>
					<label for="manager_name">Department</label>
				</div>
			</div>
            <!-- screen image stability -->
            <div class="row">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                        <label>
                            <input type="checkbox" id="screen_q1" name="screen_q1">
                            <span>Is the screen image stable and flicker free?</span>
                        </label>
            </div>
            <!-- Max Total Time -->
            <div class="row">
                <p class="range-field">
                    <label for="max_total_time">Maximum total hours spent on computer per working day:</label>
                    <input type="range" id="max_total_time" name="max_total_time" min="1" max="24" />
                </p>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                        Edit Assessment <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}