{% extends "base.html" %}
{% block content %}

 <!-- Main section, hero image --> 
 <div class="container home-container container-hero"> 
   <div class="hero-image">
     <div class="row"> 
       <div class="col s12"> 
         <div class="text-block-home center-align"> 
           <h1 class="uppercase primary-heading">Health & Safety VDU Assessment</h1> 
           <p class="home-paragpaph"> 
             To access computer users VDU (Visual Display Unit) in accordance with
		     Health and Safety legislation and HSA guidelines. 
           </p> 
 	   </div> 
       </div> 
     </div> 
   </div> 
 </div>
 {% endblock %}