{% extends "base.html" %}
{% block content %}

 <!-- Main section, hero image --> 
 <div class="container home-container container-hero"> 
   <div class="hero-image">
     <div class="row"> 
       <div class="col s12"> 
         <div class="text-block-home center-align"> 
           <h2>Health & Safety VDU Assessment</h2> 
           <p class="home-paragraph"> 
             To access computer users VDU (Visual Display Unit) in accordance with
		     Health and Safety legislation and HSA guidelines. 
           </p> 
            {% if "user" in session %}
                <a href="{{ url_for('get_checks') }}" 
                class="waves-effect waves-light btn uppercase z-depth-3 btn-home" ><i class="fas fa-eye"></i> 
                View Assessments
                </a>
                <a href="{{ url_for('add_check') }}" 
                class="waves-effect waves-light btn uppercase z-depth-3 btn-home" ><i class="fas fa-plus-square"></i> 
                Create VDU Assessment
                </a>
            {% endif %}
 	   </div> 
       </div> 
     </div> 
   </div> 
 </div>
 
 <div class="row container-vduinfo"> 
   <h4 class="sub-heading center-align"> 
     Working Safely Guidance
  </h4> 
   <div class="divider"></div>  
</div>
 
    <div class="row">
            <div class="col m4 s9">
            <div class="card">
                <div class="card-image">
                <img src="{{ url_for('static', filename='images/card2.jpg') }}">
                <span class="card-title">Posture</span>
                </div>
                <div class="card-content">
                <p>Basic requirements for the office chair, to enable you to adopt a correct and comfortable posture.</p>
                </div>
                <div class="card-action">
                <a href="#">Read More</a>
                </div>
            </div>
            </div>
            <div class="col m4 s9">
            <div class="card">
                <div class="card-image">
                <img src="{{ url_for('static', filename='images/card1.jpg') }}">
                <span class="card-title">Remote Work</span>
                </div>
                <div class="card-content">
                <p>Familiarize yourself with the technologies and tools available for remote work.</p>
                </div>
                <div class="card-action">
                <a href="#">Read More</a>
                </div>
            </div>
            </div>
            <div class="col m4 s9">
            <div class="card">
                <div class="card-image">
                <img src="{{ url_for('static', filename='images/card4.jpg') }}">
                <span class="card-title">Sitting/Standing</span>
                </div>
                <div class="card-content">
                <p>5 reasons why it is good for you to alternate between sitting/standing while you work</p>
                </div>
                <div class="card-action">
                <a href="#">Read More</a>
                </div>
            </div>
            </div>
    </div>

 {% endblock %}