{% extends "base.html" %}
{% block content %}

<!-- Main section, hero image -->
<div class="container home-container container-hero">
    <div class="hero-image">
        <div class="row">
            <div class="col s12">
                <div class="text-block-home center-align">
                    <h2>Health & Safety VDU Assessment</h2>
                    <p class="home-paragraph">
                        To access computer users VDU (Visual Display Unit) in accordance with
                        Health and Safety legislation and HSA guidelines.
                    </p>
                    {% if "user" in session %}
                    <a href="{{ url_for('get_checks') }}" class="waves-effect waves-light btn uppercase z-depth-3 btn-home"><i class="fas fa-eye"></i>
                        View Assessments
                    </a>
                    <a href="{{ url_for('add_check') }}" class="waves-effect waves-light btn uppercase z-depth-3 btn-home"><i class="fas fa-plus-square"></i>
                        Create VDU Assessment
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row container-vduinfo">
    <h4 class="sub-heading center-align">
        Working Safely Guidance
    </h4>
    <div class="divider"></div>
</div>

<div class="row">
    <div class="col m4 s9 card-bottom">
        <div class="card hoverable">
            <div class="card-image">
                <img src="{{ url_for('static', filename='images/card2.jpg') }}" alt="working from home">
                <span class="card-title">Posture</span>
            </div>
            <div class="card-content">
                <p>Basic requirements for office chair, to adopt a correct and comfortable posture.</p>
            </div>
            <div class="card-action">
                <!-- Modal Trigger -->
                <a class="waves-effect waves-light btn modal-trigger" href="#modal-posture">Read More</a>
            </div>
        </div>
    </div>
    <div class="col m4 s9">
        <div class="card hoverable">
            <div class="card-image">
                <img src="{{ url_for('static', filename='images/card1.jpg') }}" alt="working from home">
                <span class="card-title">Remote Work</span>
            </div>
            <div class="card-content">
                <p>Tips to ensure you're successful, getting your work done and maintaining mental well-being</p>
            </div>
            <div class="card-action">
                <!-- Modal Trigger -->
                <a class="waves-effect waves-light btn modal-trigger" href="#modal-wfh">Read More</a>
            </div>
        </div>
    </div>
    <div class="col m4 s9">
        <div class="card hoverable">
            <div class="card-image">
                <img src="{{ url_for('static', filename='images/card4.jpg') }}" alt="sitting/standing">
                <span class="card-title">Sitting/Standing</span>
            </div>
            <div class="card-content">
                <p>5 reasons why it is good for you to alternate between sitting/standing while you work</p>
            </div>
            <div class="card-action">
                <!-- Modal Trigger -->
                <a class="waves-effect waves-light btn modal-trigger" href="#modal-sit-stand">Read More</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Structure for Posture-->
<div id="modal-posture" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Posture</h4>
        <ol>
            <li>Each time you sit down to work, always check your chair and workstation are adjusted for
                your comfort.</li>
            <li>Your chair should have an adjustable backrest and adjustable height.</li>
            <li>Sit well back in your chair.</li>
            <li>Have your back in a relaxed, upright position, with the backrest of your chair adjusted to provide good lumbar support.<br></li>
            <li>Move your chair close enough to your desk so that you can reach the keyboard comfortably.</li>
            <li>You should always have enough room in front of your keyboard to rest your wrists and hands during pauses in work.</li>
            <li>When keying, keep arms loosely at your side (don't over-reach), your forearms horizontal, and reduce the angle of your wrists to a minimum.</li>
            <li>Keep your legs uncrossed with both feet firmly on the floor.</li>
            <li>If your feet cannot rest comfortably on the floor, use a footrest.</li>
            <li>To ensure that your feet and legs are free to move there should never be any obstacles under your desk.</li>
        </ol>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">ok</a>
    </div>
</div>
<!-- Modal Structure for Work from home-->
<div id="modal-wfh" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Working from Home</h4>
        <ol>
            <li>Get Dressed</li>
            <li>Designate a Workspace or Home Office</li>
            <li>Keep Clearly Defined Working Hours</li>
            <li>Build Transitions Into (and Out of) Work</li>
            <li>Don’t Get Too Sucked in by the News—or Anything Else</li>
            <li>Communicate, Communicate, Communicate</li>
        </ol>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">ok</a>
    </div>
</div>
<!-- Modal Structure for Sitting / Standing-->
<div id="modal-sit-stand" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Sitting / Standing</h4>
        <p><u>What Is a Standing Desk?</u></p>
        A standing desk, also called a stand-up desk, is basically a desk that allows you to stand up comfortably while working<br>
        <dl>
            <dt><u>Standing Lowers Your Risk of Weight Gain and Obesity</u></dt>
            <dd>Weight gain is ultimately caused by taking in more calories than you burn. Conversely, burning more calories than you take in results in weight loss. While exercise is the most effective way to burn calories quickly, simply choosing to stand instead of sitting can also be beneficial.</dd>
            <dt><u>Using a Standing Desk May Lower Blood Sugar Levels</u></dt>
            <dd>The more your blood sugar levels increase after meals, the worse it is for your health. This is especially true for those with insulin resistance or type 2 diabetes. In a small study of 10 office workers, standing for 180 minutes after lunch reduced the blood sugar spike by 43% compared to sitting for the same amount of time</dd>
            <dt><u>Standing May Lower Your Risk of Heart Disease</u></dt>
            <dd>The idea that standing is better for heart health was first proposed in 1953. A study found that bus conductors who stood all day had half the risk of heart disease-related deaths as their colleagues in the driver’s seats</dd>
            <dt><u>Standing Desks Appear to Reduce Back Pain</u></dt>
            <dd>Back pain is one of the most common complaints of office workers who sit all day. To determine if standing desks could improve this, several studies have been done on employees with long-term back pain. Participants have reported up to a 32% improvement in lower back pain after several weeks of using standing desks</dd>
            <dt><u>Standing Desks Help Improve Mood and Energy Levels</u></dt>
            <dd>Standing desks appear to have a positive influence on overall well-being. In one 7-week study, participants using standing desks reported less stress and fatigue than those who remained seated the entire work day. Additionally, 87% of those using standing desks reported increased vigor and energy throughout the day.</dd>
        </dl>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">ok</a>
    </div>
</div>
{% endblock %}